# Auto detect text files and perform LF normalization
* text=auto eol=lf
*.ts linguist-detectable=false
*.css linguist-detectable=false
*.scss linguist-detectable=false
*.js linguist-detectable=true
*.vue linguist-detectable=true
*.woff2 filter=lfs diff=lfs merge=lfs -text
